/* Geral */
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #f9f8fe;
}
/* HEADER */

/* HEADER */
.header {
  width: 100%;
  max-width: 100%;
  padding: 1em 0.3em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

/* Corpo */
.corpo {
  width: 100%;
  height: auto;
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Input de Pesquisa */
.header_box_input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem; /* Padding adicionado */
}

.header_box_input input {
  width: 100%;
  border: none;
  padding: 0.5rem;
}

.button_pesquisar {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button_pesquisar img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.2rem;
}

/* Botões de Cadastro e Login */
.login-page {
  background: linear-gradient(#b5b6f2, #efefff);
  margin: 0 auto;
  padding: 1em 8em;
  width: 100%;
  height: 50vw;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.cadastre-page {
  background: #f9f8fe;
  margin: 0 auto;
  padding: 1em 8em;
  width: 100%;
  height: 50vw;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 67vh;
  background-color: lightcoral;
}

.login-container form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container-form {
  gap: 2em;
  padding: 1em;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.login-titulo {
  height: 5em;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 1em;
}

.login-titulo h1 {
  font-family: Inter;
  font-size: 42px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.9999998807907104px;
  text-align: left;
}
.cadastre-se {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
}

.aqui {
  text-decoration: underline;
}

.input-password,
.input-email {
  width: 523px;
  height: 80px;
  width: 100%;
  padding: 0 1.5em;
  border-radius: 12px;
  font-size: 27px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font: 300;
}

.input-password::placeholder,
.input-email::placeholder {
  width: 80%;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

.input-password:hover,
.input-email:hover {
  border-color: blue;
}

.input-password:focus,
.input-email:focus {
  border-color: blue;
}
.login-image {
  width: 50%;
  height: 75vh;
  background: none;
}

.login-image img {
  width: 100%;
  height: 100%;
}

.botao_entrar {
  background-color: #c92071;
  height: 48px;
}

.button_cadastrar,
.button_login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.botoes_entrar_cadastrar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 20rem;
}
.logo_login {
  padding: 1em 7.8em;
}
.logo_login span {
  width: 100%;
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
}

.logo_login img {
  height: 20%;
  width: 50%;
}

.cadastro-container {
  width: 490px;
  height: max-content;
  padding: 30px;
  gap: 7px;
  border-radius: 4px;
  display: flex;
  background-color: #ffffff;
}

.cadastro-container hr {
  height: max-content;
}

.cadastro-container h4 {
  height: max-content;
}
.termos-contrato {
  width: max-content;
  height: max-content;
  gap: 2px;
  font-size: 14px;
}

.input-cpf_cadastro,
.input-email_cadastro,
.input-nome_cadastro,
.input-celular_cadastro {
  background-color: white;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: 20px;
  padding: 0 0.5em;
}

.box-input {
  width: 100%;
}

.container-form {
  gap: 1.3em;
  border-radius: 4px;
}

/* Navegação Principal */
.navegacao_principal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

/* SECTION */

.container-hero {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.hero {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  font-size: 2em;
  width: 100%;
  background-color: #f5f5f5;
}
.img-hero {
  width: 100%;
  height: 70vh;
  display: flex;
}

.container-img-hero {
  width: 50%;
  height: 70vh;
  background: none;
}
.img-hero img {
  width: 100%;
  height: 100%;
}

.ofertas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.ofertas a {
  color: white;
  text-decoration: none;
}

.conteiner-coll {
  padding: 0 3em;
}

.left-button {
  border: none;
  width: 10%;
  background: none;
  cursor: pointer;
}

.right-button {
  cursor: pointer;
  border: none;
  background: none;
  right: 0;
  bottom: 0;
  width: 10%;
  height: 100%;
}

.container-collectioncards {
  width: 100%;
}
.container-imgs {
  height: 300px;
  width: auto;
  background-color: #d8e3f2;
}

.container-informacoes-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.container-collection-botao {
  bottom: 2em;
  width: 153px;
  height: 48px;
  background-color: #f5f5f5;
  color: #c92071;
  border-radius: 12px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-align: center;
}
.container_informacoes_alta {
  width: 100%;
  height: 100%;
  margin: 0 3px;
  display: flex;
}

.container-collection-desconto {
  width: 100%;
}

.container-collection-title {
  position: absolute;
  font-size: 35px;
  top: 2.9em;
}

.img-container {
  bottom: 3em;
  right: 2em;
}

.container-collecao {
  margin-top: 0;
  width: 712px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteiner-im {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 60%;
  padding-top: 12px;
  height: max-content;
  margin-bottom: 5em;
}

.conteiner-im Subtitles {
  color: wheat;
}
.conteiner-im img {
  background-color: #ffffff;
  width: 138px;
  height: 138px;
  border-radius: 49%;
  padding: 6px;
}
.container-produtos {
  padding: 1em 5em;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container_interno_produtos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  background-color: #ffffff;
}

.container-card_produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  transition: transform 0.3s ease, font-size 0.3s ease;
  max-width: 292px;
  border: 1px solid;
  border-radius: 3px;
}

/* Zoom */
.container-card_produto {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  max-height: 439px;
  transition: transform 0.3s ease-in-out;
}

.container-card_produto:hover {
  transform: scale(1.1);
}

.card_produtos {
  width: 100%;
  height: 321px;
  background-color: #ffffff;
}
.desconto {
  position: absolute;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 12px;
  right: 12.3em;
  width: Hug (96px) px;
  height: Hug (32px) px;
  padding: 2px 8px;
  background-color: #e7ff86;
}

.new-descriptions {
  background-color: #f9f8fe;
  width: max-content;
  height: 7em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.nome {
  font-size: 30px;
  letter-spacing: 0.09em;
  height: max-content;
}

.precos {
  width: max-content;
  display: flex;
  gap: 0.4em;
}
.card_produtos img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.preco {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #8f8f8f;
  text-decoration: line-through;
}

.newpreco {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*  */
.product-show-container {
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 3em;
  gap: 1em;
}

.container-resultados {
  flex-direction: column;
  width: max-content;
  display: flex;
}

.paiselect {
  padding: 0 3em;
  margin: 0;
  width: 101%;
}
.paiselect button {
  background-color: blue;
}
.container-filter {
  display: flex;
  justify-content: space-between;
}

.boxbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.products-grid-container {
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  flex-wrap: wrap;
  width: 100%;
}

.products-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4, 1fr));
  gap: 16px; /* Ajuste conforme necessário */
}
/*  */
/* Shoes Section */
.container-shoes {
  margin-top: 1em;
  padding: 2em 3em;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.container-shoes-aninhar {
  width: 100%;
  max-width: 540px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.container-shoes-aninhar:hover {
  transform: scale(1.1);
}

.eclipse_fundo {
  width: 466px;
  height: 390px;
  opacity: 0px;
}

.shoes_sobreposto {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: absolute;
  right: 1.8em;
  bottom: 2.9em;
}

.container-shoes-card_informations {
  margin-left: 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.air-jordan {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.9999998807907104px;
  text-align: left;
}
.frases {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: left;
}
.botao-shoes-verofertas {
  color: white;
  text-decoration: none;
}

/* FOOTER */

.footer {
  background-color: #1f1f1f;
  color: white;
  align-items: center;
  display: flex;
  padding: 1em 4em;
  margin: 0 auto;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.container_sobre {
  display: flex;
  flex-wrap: wrap;
  width: 307px;
  height: 300px;
}
.paragrafos {
  margin: 0;
}

.container_redes_sociais {
  margin-top: 9px;
  width: max-content;
}

.container_informacoes {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  width: 100%;
  max-width: 570px;
  margin-bottom: 1.9em;
  padding: 0 2em;
}

.footer-container_contatos {
  width: max-content;
  height: 100%;
}

.footer-container_informacoes {
  width: max-content;
  height: 100%;
}
.footer-container_categorias {
  width: max-content;
  height: 100%;
}
@media (max-width: 90vw) {
  .header,
  .navegacao_principal,
  .container-produtos,
  .container_interno_produtos,
  .container-card_produto,
  .container-shoes,
  .footer,
  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header {
    padding: 0 4em;
    margin: 0 4em;
    margin-bottom: 1rem;
  }

  .corpo,
  .navegacao_principal,
  .container-produtos,
  .container_interno_produtos,
  .container-card_produto,
  .container-shoes,
  .footer-container {
    width: 100%;
    padding: 2em;
  }

  .footer {
    padding: auto;
    margin-top: 0;
  }

  .botoes_entrar_cadastrar {
    flex-direction: column;
    gap: 0.5rem;
  }

  .container_sobre {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .footer-container_informacoes,
  .footer-container_categorias,
  .footer-container_contatos {
    width: 100%;
    margin-bottom: 3px;
  }

  .container_redes_sociais {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 4em;
  }
  .login-page {
    padding: 1em 9em;
    height: auto;
    display: flex;
  }

  .login-container {
    width: 40%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .container-form {
    height: max-content;
    display: flex;
    margin: 0;
    padding: 0.3em 0.6em;
    gap: 9px;
  }

  .esqueceu {
    height: max-content;
    margin: 0;
  }
  .input-password,
  .input-email {
    width: 100%;
    height: 30px;
    font-size: 16px;
  }

  .input-password::placeholder,
  .input-email::placeholder {
    font-size: 20px;
  }

  .login-image {
    width: 40%;
    height: 30vh;
  }

  .login-image img {
    height: 100%;
  }

  .login-titulo {
    height: 20%;
    margin-bottom: 1em;
  }

  .login-titulo .cadastre-se {
    height: 0.5em;
    font-size: 17px;
  }

  .container-cadastre {
    height: auto;
  }
  .login-titulo h1 {
    font-size: 27px;
    height: 3em;
    line-height: 0.97em;
  }

  .footer-container {
    width: max-content;
    display: flex;
  }
  .footer-container_categorias {
    width: max-content;
    height: max-content;
  }
  .footer-container_contatos {
    width: 2em;
    height: max-content;
    font-size: 10px;
  }

  .container_sobre {
    height: 30%;
  }

  .footer-container_informacoes {
    width: max-content;
    height: max-content;
  }

  .footer-container {
    display: flex;
    align-items: center;
  }
}
